/* TUDO RELACIONADO A CORES DO SITE */


/**********site institucional**********/ 

/* Cor do menu do site institucional */

/*
.cor-menu-box {
    color: #fff;
    background-color: red;
}
*/

/***********sistema economie***********/

/*********PAGINA DE LOGIN E CADASTRO***********/

/* cor de fundo */
.bg-entrar-color {
    background-image: linear-gradient(#02075A, #1889D5, #00F241);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/********* PAGINA DO SISTEMA ***********/


/* BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    /* background-color: rgb(64, 64, 64); */
    background-color: rgb(196, 233, 203);
  }
  
  ::-webkit-scrollbar-thumb {
    /* background-color: rgb(96, 96, 96); */
    background-color: #21CF65;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    /* background-color: rgb(112, 112, 112); */
    background-color: #1ba14f;
  }
  
  ::-webkit-scrollbar-thumb:active {
    /* background-color: rgb(128, 128, 128); */
    background-color: #116631;
  }
  
  /* Buttons */
  ::-webkit-scrollbar-button:single-button {
    /* background-color: rgb(64, 64, 64); */
    background-color: rgb(196, 233, 203);
  
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
  }
  
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
  }


/****MENU*****/

/* nav modo normal */
.bg-navegacao {
    background-color: #fff;
}

/* caixa da logo modo normal*/
.bg-box-logo {
    background-color: #E6FFF0;
    color: #424242;
}

/* lista */

/* fundo link normal */
.bg-lista li a {
    color: #050F2F;
}

.bg-lista li a:hover {
    background-color: #F0FFF6;
    color: #050F2F;
}

.bg-lista li a i {
    color: #5CDBD0;
}

.bg-lista li a:hover i {
    color: #47B0A7;
}

/* fundo link selecionado normal */

.bg-lista li a.selecionado {
    background-color: #F0FFF6;
    color: #050F2F;
    background-image: url(../img/img-selected-link.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-lista li a.selecionado i {
    color: #47B0A7;
}

/*****cabecalho******/

/* background cabecalho normal*/
.cabecalho {
    background-image: linear-gradient(to right, #21CF65, #55F093);
    color: #fff;
}

.bg-cabecalho a {
    color: #fff;
}

.bg-cabecalho a:hover {
    color: rgb(236, 255, 227);
}


/* nome do usuario */
#nome-usuario {
    color: #424242;
    font-weight: bold;
}

#nome-usuario:hover {
    opacity: 0.8;
}

/*****conteudo principal*****/

/* background conteudo principal */
.bg-principal,
.flex {
    color: #5B5B5B;
    background-image: linear-gradient(#E6FFF0, #E6FFF0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/********* CHATBOT ***********/

/* botao chatbot */
#chatbot-btn {
    background-color: #5CDBD0;

  }

/********* FIM PAGINA DO SISTEMA ***********/



/********* RESUMO DO MÊS ***********/

/* box conteudo primario */
.conteudo-primario {
    color: #fff;
  }
  
  /* box pre visualização dos saldos */
  .preview-saldo {
    background-image: linear-gradient( to bottom right, #6e7dff, #0D1D9F);
  }
  
  /* box pre visualização do grafico de gastos */
  
  /* circulo no cabecalho */
  .circulo {
    background-image: url(../img/meio-circulo.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 180px;
    }


    /* grafico */
    .chart-claro {
        display: block;
    }

    .chart-escuro {
        display: none;
    }

/*** box conteudo secundário ***/
.dica-do-dia,
.saldo-mensal,
.lembrete {
    background-color: #fff;
  }

/* grafico */
.chartline-claro {
    display: block;
}

.chartline-escuro {
    display: none;
}
/* caixa de conteudo dos lembretes */

.titulo-lembrete span,
.box-lembretes p i {
  color: #5CDBD0;
}

.box-lembretes a {
    color: #233FEB;
}

/********* FIM RESUMO DO MÊS ***********/


/********* MEU PERFIL ***********/

/* circulo no cabecalho */
.circulo-imagem {
    background-image: url(../img/meio-circulo.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-position-x: 88.5px;
    background-size: 180px;
}

label.botao-inserir {
    background-color: #5CDBD0;
}
  
label.botao-inserir:hover {
    background-color: #4ab9b0;
}

.caixa-imagem input[type="submit"] {
  background-color: #233FEB;
  color: #fff;
  cursor: pointer;
}

.caixa-imagem input[type="submit"]:hover {
  background-color: #4157e7;
  color: #fff;
}

/* caixa de dados do usuario */
.box-dados {
    background-color: #fff;
}
  
.box-dados #edit-nome,
.box-dados #edit-email,
.box-dados #edit-senha {
    background-color: #5CDBD0;
    color: #fff;
} 

.box-dados #edit-nome:hover,
.box-dados #edit-email:hover,
.box-dados #edit-senha:hover {
    background-color: #47beb5;
}

/* caixa minhas metas */
/* caixa meus cartões */
/* meu nível aprender */
.minha-meta,
.meus-cartoes,
.aprender-flex {
    box-shadow: 1px 1px 10px rgba(151, 151, 151, 0.288);
    background-color: #F7F9F8;
}

.minha-meta a,
.meus-cartoes a,
#nivel-aprender,
.img-cartao {
    color: #233FEB;
}

#add-cartao {
  color: #5CDBD0;
}

#add-cartao:hover {
  color: #39bdb2;
}


/******** CAIXA DE FORMULARIOS *******/

.box-formularios {
    background-color: rgba(0, 255, 115, 0.137);
  }
  
  .formulario-alterar {
    background-color: #fff;
    box-shadow: 1px 1px 15px #21cf6452;
  }
  .formulario-alterar input {
    border: 1px solid #ddd;
  }
  
  .formulario-alterar input[type="submit"] {
    background-color: #4ab9b0;
    color: #fff;
  }
  
  .formulario-alterar input[type="submit"]:hover {
    background-color: #5CDBD0;
  }
  
  .fechar-form-nome,
  .fechar-form-email,
  .fechar-form-senha,
  .fechar-form-cartao {
    color: #4ab9b0;
  }
  
  .fechar-form-nome:hover,
  .fechar-form-email:hover,
  .fechar-form-senha:hover,
  .fechar-form-cartao:hover {
    color: #5CDBD0;
  }


/********* FIM MEU PERFIL ***********/


/********* METAS ***********/

/* adicionar css da pagina de metas aqui */

/********* FIM METAS ***********/


/********* SALDOS ***********/

/* adicionar css da pagina de saldos aqui */

/********* FIM SALDOS ***********/


/********* DESPESAS ***********/

/* adicionar css da pagina de despesas aqui */

/********* FIM DESPESAS ***********/


/********* APRENDER ***********/



/* PALAVRAS CRUZADAS */

/* caixa lista */
.box-lista-palavras {
   background-color: #fff;
}

.box-lista-palavras ul li.lista-palavra-principal {
  border: 1px solid rgb(226, 226, 226);
}

.box-lista-palavras ul li ul {
  background-color: #5CDBD0;
  color: #424242;
}

.box-lista-palavras ul li .num-palavra {
  background-color: #5CDBD0;
  color: #fff;
}


/* principal palavras cruzadas */
.principal-palavras-cruzadas {
  background-color: #5CDBD0;
}

.principal-palavras-cruzadas h2 {
  color: #fff;  
}

/* jogo palavras cruzadas */

.jogo-palavras-cruzadas div input {
  border: 4px solid #868686;
  color: #424242;
}

::-webkit-input-placeholder {
  color: #08524b;
  float: left;
  padding: 0 5px;
  margin-bottom: 200px;
  font-size: .5em;
}

:-moz-placeholder { /* Firefox 18- */
  color: #08524b;
  float: left;
  padding: 0 5px;
  margin-bottom: 200px;
  font-size: .5em; 
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #08524b;
  float: left;
  padding: 0 5px;
  margin-bottom: 200px;
  font-size: .5em;
}

:-ms-input-placeholder {  
  color: #08524b;
  float: left;
  padding: 0 5px;
  margin-bottom: 200px;
  font-size: .5em;
}


/* botao voltar e proximo */
#voltar {
  background-color: #28F57C;
  color: #fff;
}

#voltar:hover {
  background-color: #1cc462;
  color: #fff;
}

#proximo {
  background-color: #1DEB05;
  color: #fff;
}

#proximo:hover {
  background-color: #13b102;
  color: #fff;
}



/********* FIM APRENDER ***********/


/********* CONFIGURAÇÕES ***********/

/* caixa de configurações */
  
  .caixa-configuracao hr {
    border: none;
    border-top: 2px solid #5CDBD0;
  }
  
  .caixa-configuracao h3 a,
  .caixa-configuracao h3 a i {
    color: #5B5B5B;
  }


  /* radio buttons */
  
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      border: 2px solid #5CDBD0;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      background: #5CDBD0;
  }

/********* FIM CONFIIGURAÇÕES ***********/


/********* SOBRE NÓS ***********/

/* adicionar css da pagina de sobre nós aqui */

/********* FIM SOBRE NÓS ***********/