/* // Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  /********* PAGINA DO SISTEMA ***********/

  /********* CABEÇALHO ***********/

  /* diminuindo o espacamento lateral do cabecalho */
  .bg-cabecalho {
      padding: 0;
      padding-left: 17px;
  }

  /* arrumando a lista do cabecalho superior */
  .bg-cabecalho ul {
      width: 107px;
      display: flex;
  }


  /* remover nome do usuario e espacamento */
  #nome-usuario,
  ul li.remove-espacador {
    display: none;
  }

  /********* FIM PAGINA DO SISTEMA ***********/


  /********* RESUMO DO MÊS ***********/

  /*** box conteudo primario ***/
  .conteudo-primario .divisor-conteudo-primario {
    width: 100%;
  }
  /* box pre visualização dos saldos */
  .preview-saldo {
    height: 80px;
    padding-bottom: 10px;
    text-align: center;
  }

  .preview-saldo div {
    justify-content: space-around;
  }

  .preview-saldo .titulo-preview {
    padding: 10px 0 0 0;
  }

  .preview-saldo i {
    font-size: 1.5em;
  }

  /*** box conteudo secundário ***/
  .dica-do-dia {
    margin-top: 70px;
  }

  /********* FIM RESUMO DO MÊS ***********/


  /********* MEU PERFIL ***********/

/* adicionar css da pagina de meu perfil aqui */

/********* FIM MEU PERFIL ***********/


/********* METAS ***********/

.cabecalho-metas {
  display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.cabecalho-metas .bg-cabecalho {
  width: 100%;
}

/* circulo no cabecalho */
.circulo-metas {
  background-position: center bottom !important;
}

.night-mode .circulo-metas {
  background-position: center bottom !important;
}


/* arco com titulo */
.arco-com-titulo {
  margin-left: 0 !important;
}


/* metas cadastradas */
.meta-cadastrada {
  margin: auto !important;
  max-height: 330px !important;
}

/* formulario cadastrar metas */
form.cadastrar-meta {
  padding: 0 ;
  margin: 10px auto;
  text-align: center;
  max-width: 100% !important;
  min-width: 100% !important;
}


/* dinie falando */

.dinie-falando {
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
}

/********* FIM METAS ***********/


/********* SALDOS ***********/

/* adicionar css da pagina de saldos aqui */

/********* FIM SALDOS ***********/


/********* DESPESAS ***********/

/* adicionar css da pagina de despesas aqui */

/********* FIM DESPESAS ***********/


/********* APRENDER ***********/




/* PALAVRAS CRUZADAS */

/* jogo palavras cruzadas */
.jogo-palavras-cruzadas {
  margin: 25px auto;
  align-self: initial;
}

.jogo-palavras-cruzadas div input {
  border: 3px solid #868686;
  margin:  0 -1px;
  width: 26px;
  height: 26px;
  font-size: 1em;
}

.night-mode .jogo-palavras-cruzadas div input {
  border: 3px solid #fff;
  margin:  0 -1px;
  width: 26px;
  height: 26px;
  font-size: 1em;
}

/* botao voltar e proximo */
.caixa-botoes {
  padding: 30px 0;
  text-align: center;
  position: relative;
  top: 20px;
  padding-bottom: 80px;
}

#voltar,
#proximo {
  padding: 9px 0;
  margin: auto 5px;
  width: 100%;
  max-width: 110px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

/* dinie */
.dinie {
  position: absolute;
  top: -60px;
  right: 0;
  z-index: 0;
  width: 100px;
}

.dinie img {
  width: 100%;
}

/********* FIM APRENDER ***********/


/********* CONFIGURAÇÕES ***********/

/* adicionar css da pagina de configurações aqui */

/********* FIM CONFIIGURAÇÕES ***********/


/********* SOBRE NÓS ***********/

/* adicionar css da pagina de sobre nós aqui */

/********* FIM SOBRE NÓS ***********/


}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 767.98px) {

/********* METAS ***********/

/* circulo no cabecalho */
.circulo-metas {
  background-position-x: 45px;
}

.night-mode .circulo-metas {
  background-position-x: 62px;
}


/* arco com titulo */
.arco-com-titulo {
  margin-left: 60px;
}


/* metas cadastradas */
.meta-cadastrada {
  margin-left: 45px;
}

/* dinie falando */

.dinie-falando {
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
}

/********* FIM METAS ***********/


/********* SALDOS ***********/

/* cateira virtual */
/* dinheiro guardado */
.carteira-virtual,
.dinheiro-guardado {
  width: 100%;
}

/********* FIM SALDOS ***********/


/********* APRENDER ***********/

/* PALAVRAS CRUZADAS */

/* caixa engloba palavras cruzadas */
.box-palavras-cruzadas {
  flex-wrap: wrap;
}

/* caixa lista */
.box-lista-palavras {
  width: 100%;
  text-align: center;
}

.box-lista-palavras ul li.lista-palavra-principal {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  max-height: 50px;
  padding: 5px 0;
  margin: 15px;
  font-size: 1.1em;
  border: 1px solid #ddd;
  padding: 10px 20px;
}

.box-lista-palavras ul li ul {
  margin: 0 auto;
  margin-top: 10px;
  left: 0;
  right: 0;
  text-align: justify;
  position: absolute;
  padding: 0;
}

.box-lista-palavras ul li ul li {
  padding: 25px;
}


/* principal palavras cruzadas */
.principal-palavras-cruzadas {
  width: 100%;
  margin-top: 15px;
}

/* botao voltar e proximo */
.caixa-botoes {
  margin-top: 30px;
}


/********* FIM APRENDER ***********/  
    
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 991.98px) {
  
  /********* RESUMO DO MÊS ***********/

  /*** box conteudo primario ***/
  .conteudo-primario,
  .divisor-conteudo-primario {
    flex-wrap: wrap;
  }

  .conteudo-primario {
    margin-top: 230px;
  }


  .divisor-conteudo-primario {
    width: 50%;
  }


   /* box pre visualização do grafIco */
  .preview-grafico {
    display: none;
  }
  

  /*** box conteudo secundário ***/
  .conteudo-secundario {
    margin: 0;
  }

    
  /* conteudo flex para saldo e lembretes */

  .conteudo-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* saldo mensal */
  .saldo-mensal {
    margin-right: 0;
  }

  /* lembretes */
  .lembrete {
    width: 100%;
  }

  .box-lembretes h4 {
    font-size: 1.2em;
  }

  /********* FIM RESUMO DO MÊS ***********/


  /********* MEU PERFIL ***********/
  /* circulo no cabecalho */
.circulo-imagem,
.night-mode .circulo-imagem {
  background-position-x: center;
}

/* adicionar imagem do usuario */
.imagem-usuario {
  padding: 0;
  display: flex;
  justify-content: center;
}

.imagem-usuario .img-inserida {
  display: inline-block;
  margin: 0;
}

.caixa-imagem input[type="submit"] {
  left: 0;
}

/* sessão flex conteudo da pagina */
.perfil-flex {
  flex-wrap: wrap;
}

/* apresentação dinie */
.apresentacao-dinie p {
  margin-right: 0;
}

/********* FIM MEU PERFIL ***********/


/********* METAS ***********/

/* adicionar css da pagina de metas aqui */

/********* FIM METAS ***********/


/********* SALDOS ***********/


/* circulo no cabecalho */
.circulo-dinie {
  background-position: center bottom !important;
}

/* imagem do dinie no topo */
.imagem-cabecalho-dinie {
  margin: auto !important;
}


/* caixa de dica do dinie */
.dica-dinie {
  margin: auto;
  margin-top: 140px;
}

/* caixa de dica parte inicio */
.dica-inicio,
.dica-fim {
  background-image: none !important;
}


/********* FIM SALDOS ***********/


/********* DESPESAS ***********/

/* adicionar css da pagina de despesas aqui */

/********* FIM DESPESAS ***********/


/********* APRENDER ***********/

/* adicionar css da pagina de aprender aqui */

/********* FIM APRENDER ***********/


/********* CONFIGURAÇÕES ***********/

/* adicionar css da pagina de configurações aqui */

/********* FIM CONFIIGURAÇÕES ***********/


/********* SOBRE NÓS ***********/

/* adicionar css da pagina de sobre nós aqui */

/********* FIM SOBRE NÓS ***********/

  

}

/* // Large devices (desktops, 992px and up) */
@media only screen and (max-width: 1199.98px) {
  /********* PAGINA DO SISTEMA ***********/

  /********* MENU DE NAVEGAÇÃO ***********/


  /***** menu responsivo *****/

  /* menu navegacao */
  .bg-navegacao {
      position: absolute;
      z-index: 99;
      width: 210px;
      margin-left: -210px;
      transition: margin-left 1s;
  }

  .bg-navegacao-abrir {
      margin-left: 0px;
  }


  /* botao para abrir o menu */
  #bars {
    display: inline-block;
    position: absolute;
  }
  
  /* botao para fechar o menu */
  #fechar {
    display: inline-block;
    font-size: 1.5em;
    color: #00F241;
  }
  

  /* caixa que contem o logo */
  .box-logo {
    justify-content: space-between;
    padding: 0 15px;
  }


  /********* CABEÇALHO ***********/

  /* cabeçalho */
  .cabecalho h2 {
      margin-left: 30px;
  }

/********* FIM PAGINA DO SISTEMA ***********/


/********* METAS ***********/

/* metas cadastradas */
.meta-cadastrada {
  margin-right: 10px;
}

.arco-com-titulo h2 {
  margin-left: 0;
}


/********* FIM METAS ***********/

  
}


/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}